@model IEnumerable<NewsPortal.Entity.Article>


@{
    ViewData["Title"] = "Home Page";
}
<div class="row pt-3">
    @foreach (var item in Model)
    {
        if (item.IsFeatured)
        {
            <div class="col-sm-6 ">
                <div class="card mb-4">
                    <a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id">
                        <img src="@Url.Action("GetFirstSmallImageForNewsId", "Manager", new { articleId = @item.Id })" class="img-fluid">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h5>
                        <p class="card-text">@Html.DisplayFor(modelIxtem => item.Summary)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Read More</a>
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.Date)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @foreach (var item in Model)
    {
        if (!item.IsFeatured)
        {
            <div class="col-sm-6 ">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h5>
                        <p class="card-text">@Html.DisplayFor(modelIxtem => item.Summary)</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-controller="Articles" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Read More</a>
                            </div>
                            <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.Date)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>