@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<NewsPortal.Data.Entity.Article>

@{
    ViewData["Title"] = "Index";
}

<h2>Archive</h2>

<form class="form-inline">
    <!--Table-->
    <div class="row">
        <div class="col-sm">
            Search for date:
            <input class="form-control mr-sm-2" type="date" name="SearchDate" value="@ViewBag.SearchDate">
        </div>
        <div class="col-sm">
            Search in title:
            <input class="form-control mr-sm-2" type="search" placeholder="Search in title" name="SearchTitleString" value="@ViewBag.SearchTitleString" aria-label="Search">
        </div>
        <div class="col-sm">
            Search in content
            <input class="form-control mr-sm-2" type="search" placeholder="Search in content" name="SearchContentString" value="@ViewBag.searchContentString" aria-label="Search">
        </div>
        <div class="col-sm">
            <br />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</form>
<br />

@if (Model.Count != 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Summary)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <pager list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager4" asp-action="Archive" asp-controller="Articles" />
}
else
{
    <div class="alert alert-info" role="alert">
        Cant find anything related.
    </div>
}
