@using NewsPortal.Services
@model NewsPortal.Data.Entity.Article
@inject ImageService ImageService

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <div>
        @Html.DisplayFor(model => model.Summary)
    </div>
    @{
        if (ImageService.GetPictureIdsForAnArticle(Model.Id).Count != 0)
        {
            <div class="text-center p-5">
                @{
                    bool isFirstShowed = false;
                    foreach (var item in ImageService.GetPictureIdsForAnArticle(Model.Id))
                    {
                        if (!isFirstShowed)
                        {
                            isFirstShowed = true;

                            <a href="@Url.Action("GetImage", "Manager", new { id = item, isLarge = true })" data-lightbox="@Model.Id">
                                <img src="@Url.Action("GetImage", "Manager", new {id = item, isLarge = false})" class="rounded mx-auto d-bloc" alt="" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("GetImage", "Manager", new {id = item, isLarge = true})" data-lightbox="@Model.Id"></a>
                        }
                    }
                }

            </div>
        }
    }
    <div style="white-space: pre-line">
        @Html.DisplayFor(model => model.Text)
    </div>
    <div class="mt-2 alert alert-info">
       Written by @Html.DisplayFor(model => model.Author.Name) on @Html.DisplayFor(model => model.Date)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts
    {
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
}